/* iocn图标地址 */
@import "//at.alicdn.com/t/font_1856834_aa3wuldbc5c.css";
/* 图标属性 */
/* 购物车 */
.iconfont.icon-xiazai1{
    font-size: 20px;
    vertical-align: -3px;
    margin-right: 4px;
}
.iconfont.icon-sousuo{
    font-size: 20px !important;
}

/* 清除浮动 */
.clear::after{
    content: "";
    display: block;
    clear: both;
}

body{
    font: 14px/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
    color: #333;
    background-color: #fff;
    /* 窗口最小缩放宽度 */
    min-width: 1226px;
}

/* 头部区域开始 */
/* 广告区域 */
header .BannerWrapper{
    /* position: absolute; */
    left: 0;
    top: 0;
    width: 100%;
    height: 120px;
}
header .BannerWrapper a{
    width: 100%;
    height: 100%;
    display: block;
    /* 添加背景图片和一些属性 */
    background: url("../img/BannerWrapper.jpg") no-repeat center top;
    background-size: auto 120px;
}

/* 导航栏上部分 */
.navigtion{
    height: 40px;
    font-size: 12px;
    color: #b0b0b0;
    background: #333;
}

.navigtion .nav ul li{
    display: inline-block;
}

.navigtion .nav ul li a{
    color: #b0b0b0;
    line-height: 40px;
    display: inline-block;
}
/* 鼠标移入a标签 a里面的发生改变 */
.navigtion .nav ul li a:hover{
    color: #fff;
}

.navigtion .nav .nav-left{
    float: left;
    height: 40px;
    line-height: 40px;
}
.navigtion .nav .nav-left span{
    margin: 0 .3em;
    color: #424242;
    font-family: sans-serif;
}
/* 伪类属性 */
/*  利用伪类设置一个三角形 */
.navigtion .nav .nav-left .position::before{
    content: "";
    position: absolute;
    border: 8px solid #fff;
    border-top: 8px solid transparent;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    bottom: 0;
    left: 15px;
    display: none;
}
.navigtion .nav .nav-left .position:hover::before{
    display: block;
}
.navigtion .nav .nav-left .position div{
    position: absolute;
    z-index: 1;
    width: 124px;
    height: 0px;
    top: 40px;
    left: 50%;
    line-height: 1;
    margin-left: -62px;
    background-color: #fff;
    box-shadow: 0 1px 5px #aaa;
    text-align: center;
    font-size: 14px;
    color: #333;
    overflow: hidden;
    transition: height .5s;
}
.navigtion .nav .nav-left .position:hover div{
    height: 148px;
}
.navigtion .nav .nav-left .position img{
    display: block;
    margin: 18px 17px 12px
}

.navigtion .nav .nav-right{
    float: right;
    height: 40px;
    line-height: 40px;
    color: #b0b0b0;
}

.navigtion .nav .nav-right span{
    height: 40px;
    line-height: 40px;
    display: inline-block;
    font-family: sans-serif;
}
.navigtion .nav .nav-right li{
    padding: 0 5px;
}
.navigtion .nav .nav-right .cart{
    position: relative;
    width: 120px;
    height: 40px;
    padding: 0;
    margin-left: 15px;
}

.navigtion .nav .nav-right .cart a{
    position: relative;
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #424242;
}

.navigtion .nav .nav-right .cart a span{
    line-height: 40px;
}

.navigtion .nav .nav-right .cart a:hover,
.navigtion .nav .nav-right .cart a:hover span{
    color: #ff6700;
    background-color: #fff;
}

.navigtion .nav .nav-right .cart .position .cart-content{
    position: absolute;
    z-index: 1;
    right: 0;
    width: 316px;
    height: 0px;
    color: #424242;
    box-shadow: 0 2px 10px rgba(0,0,0,.15);
    overflow: hidden;
    background-color: #fff;
    transition: height .5s;
}
.navigtion .nav .nav-right .cart .position:hover .cart-content{
    height: 100px;
}
.navigtion .nav .nav-right .cart .position .cart-content .cart-content-top{
    padding-top: 20px;
}
.navigtion .nav .nav-right .cart .position .cart-content .cart-content-body{
    margin:15px 20px 20px;
}
/* 导航栏-二级 */
.navigtion-two{
    height: 100px;
}

.navigtion-two .container{
    position: relative;
    width: 1226px;
    height: 100%;
    margin: 0 auto;
}
.navigtion-two .container .header-log{
    float: left;
    width: 62px;
    margin-top: 22px;
}
.navigtion-two .container .header-log h1 a{
    position: relative;
    width: 55px;
    height: 55px;
    /* 隐藏文字 */
    color: rgba(0,0,0,0);
    overflow: hidden;
    display: block;
    position: relative;
    background-color: #ff6700;
}
.navigtion-two .container .header-log h1 a::after{
    position: absolute;
    right: 55px;
    top: 0;
    content: "";
    width: 55px;
    height: 55px;
    display: block;
    background: url("../img/mi-home.png") no-repeat 50% 50%;
}
.navigtion-two .container .header-log h1 a::before{
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 55px;
    height: 55px;
    display: block;
    background: url("../img/mi-logo.png") no-repeat 50% 50%;
}

.navigtion-two .container .header-nav{
    float: left;
    width: 850px;
}

.navigtion-two .container .header-nav ul{
    display: flex;
    height: 88px;
    font-size: 16px;
    padding-top: 12px;
    padding-left: 7px;
}
.navigtion-two .container .header-nav ul li:first-of-type{
    padding: 0;
}
.navigtion-two .container .header-nav ul li{
    padding: 26px 10px 38px
}
.navigtion-two .container .header-nav ul li:hover{
    color: #ff6700;
}
.navigtion-two .container .header-nav ul .header-nav-active{
    width: 165px;
    height: 100px;
    display: block;
    position: relative;
    top: -12px;
    background: url("../img/xiaomi618.gif") no-repeat 50%;
}

.navigtion-two .container .header-search{
    float: right;
    width: 296px;
    margin-top: 25px;
}
.navigtion-two .container .header-search .header-search-from{
    width: 296px;
    height: 50px;
}
.navigtion-two .container .header-search .header-search-from input:focus{
    outline-offset: 0;
    outline: none;
    border: none;
}
.navigtion-two .container .header-search .header-search-from input[type="text"]{
    padding: 0px;
    height: 100%;
    width: 244px;
    color: #bbb;
    text-indent: 10px;
    box-sizing: border-box;
    border: 1px solid #e0e0e0;
    border-radius: 0;
    border-right-width: 0;
    transition: all .5s;
}
.navigtion-two .container .header-search .header-search-from input[type="submit"]{
    float: right;
    cursor: pointer;
    width: 52px;
    height: 50px;
    font-size: 24px;
    line-height: 24px;
    background: #fff;
    color: #616161;
    border: 1px solid #e0e0e0;
    transition: all .5s;
}
.navigtion-two .container .header-search .header-search-from input[type="submit"]:hover{
    background-color: #ff6700;
    color: #fff;
    border-color: #ff6700;
}
/* 鼠标移入边框颜色变深 */
.navigtion-two .container .header-search .header-search-from:hover input{
    border-color: #b0b0b0;
}
/* 导航栏下部分-轮播图 */
.navigtion-two .container-rotation{
    position: absolute;
    overflow: hidden;
    display: none;
    z-index: 2;
    width: 100%;
    height: 0;
    transition: all 1s;
    border-top: 1px solid #e0e0e0;
    background-color: #fff;
    box-shadow: 0 3px 4px rgba(0,0,0,.18);
}
.navigtion-two:hover .container-rotation{
    height: 230px;
    display: block;
}
.navigtion-two .container-rotation ul{
    display: flex;
    font-size: 12px;
    transition: all 1s;
    margin-left: 0%;
}
.navigtion-two .container-rotation ul li a{
    position: relative;
    display: block;
    float: left;
    width: 204px;
    height: 201px;
    padding: 35px 12px 0;
    text-align: center;
    box-sizing: border-box;
}
.navigtion-two .container-rotation ul li a::before{
    content: "";
    position: absolute;
    left: 0;
    top: 35px;
    width: 1px;
    height: 100px;
    background-color: #e0e0e0;
}
.navigtion-two .container-rotation ul li .a:last-of-type::before{
    content: "";
    height: 0;
}
.navigtion-two .container-rotation ul li:nth-of-type(7n) a::before{
    content: "";
    height: 0;
}
.navigtion-two .container-rotation ul li a img{
    margin: 0 auto 16px;
}
.navigtion-two .container-rotation ul li a h3{
    line-height: 20px;
}
.navigtion-two .container-rotation ul li a p{
    color: #ff6700;
    line-height: 20px;
}
/* 头部区域结束 */

/* 身体区域开始 */
/* 导航栏--轮播图开始 */
.nav-rotation .body-rotation-img .img-ul li{
    position: absolute;
    top: 0;
    left: 0;
    height: 460px;
    opacity: 0;
    transition: all 1s;
}
.nav-rotation .body-rotation-img .img-ul li a img{
    width: 1226px;
    height: 460px;
}
.nav-rotation .body-rotation-img .img-ul .img-active{
    opacity: 1;
}
.nav-rotation .body-rotation-img .rotation-nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 234px;
    height: 460px;
}
.nav-rotation .body-rotation-img .rotation-nav .rotation-nav-ul{
    padding: 20px 0;
    color: #fff;
    background: rgba(105,101,101,.6);
}
.nav-rotation .body-rotation-img .rotation-nav .rotation-nav-ul li .rotation-nav-a{
    position: relative;
    display: block;
    height: 42px;
    line-height: 42px;
    padding-left: 30px;
}
.nav-rotation .body-rotation-img .rotation-nav .rotation-nav-ul>li:hover{
    background-color: #ff6700;
}
.nav-rotation .body-rotation-img .rotation-nav .rotation-nav-ul li:hover i{
    color: hsla(0,0%,100%,.5);
}
.nav-rotation .body-rotation-img .rotation-nav .rotation-nav-ul li i{
    position: absolute;
    top: 13px;
    right: 20px;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    color: #e0e0e0;
}

.nav-rotation .body-rotation-img .rotation-nav .rotation-nav-ul .rotation-list:hover .children-cont{
    display: flex;
}
.nav-rotation .body-rotation-img .rotation-nav .rotation-nav-ul .children-cont{
    position: absolute;
    top: 0px;
    left: 234px;
    height: 458px;
    /* 弹性盒子排序 */
    display: flex;
    /* 隐藏 */
    display: none;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0,0,0,.18);
}
.nav-rotation .body-rotation-img .rotation-nav .rotation-nav-ul .children-cont ul{
    /* width: 248px; */
    height: 458px;
    padding: 2px 0;
}
.nav-rotation .body-rotation-img .rotation-nav .rotation-nav-ul .children-cont ul li{
    position: relative;
    float: left;
    height: 76px;
    width: 248px;
}
.nav-rotation .body-rotation-img .rotation-nav .rotation-nav-ul .children-cont ul li a{
    display: flex;
    width: 265px;
    /* 在盒子内填充 */
    box-sizing: border-box;
    padding: 18px 20px;
    line-height: 40px;
    color: #333;
}
.nav-rotation .body-rotation-img .rotation-nav .rotation-nav-ul .children-cont ul li a:hover span{
    color: #ff6700;
}
.nav-rotation .body-rotation-img .rotation-nav .rotation-nav-ul .children-cont ul li a img{
    margin-right: 12px;
}
/* 轮播图图标-切换 */
.nav-rotation .body-rotation-img .rotation-icon .item{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: 41px;
    height: 69px;
    cursor: pointer;
    background: url("../img/icon-slides.png") no-repeat;
}
.nav-rotation .body-rotation-img .rotation-icon .icon-left{
    background-position-x: -84px;
    left: 234px;
}
.nav-rotation .body-rotation-img .rotation-icon .icon-left:hover{
    background-position-x: 0;
}
.nav-rotation .body-rotation-img .rotation-icon .icon-right{
    right: 0;
    background-position-x: -125px;
}
.nav-rotation .body-rotation-img .rotation-icon .icon-right:hover{
    background-position: -42px;
}

.nav-rotation .body-rotation-img .rotation-icon .icon{
    position: absolute;
    display: flex;
    right: 30px;
    bottom: 30px;
}
.nav-rotation .body-rotation-img .rotation-icon .icon span{
    cursor: pointer;
    width: 6px;
    height: 6px;
    border: 2px solid #fff;
    margin: 0 4px;
    border-color: hsla(0,0%,100%,.3);
    border-radius: 10px;
    background: rgba(0,0,0,.4);
    opacity: 1;
}
.nav-rotation .body-rotation-img .rotation-icon .icon span:hover{
    background: hsla(0,0%,100%,.4);
}
/* 轮播图下面部分 */
.nav-rotation .nav-rotation-bottom{
    margin: 14px auto 26px;
    height: 170px;
    display: flex;
}
.nav-rotation .nav-rotation-bottom .nav-bottom-left{
    width: 234px;
    height: 170px;
    padding: 3px;
    font-size: 12px;
    text-align: center;
    box-sizing: border-box;
    background: #5f5750;
}
.nav-rotation .nav-rotation-bottom .nav-bottom-left ul li{
    float: left;
    position: relative;
}
.nav-rotation .nav-rotation-bottom .nav-bottom-left ul li::before{
    content: "";
    width: 64px;
    height: 1px;
    position: absolute;
    left: 6px;
    top: -1px;
    background-color: #665e57;
}
.nav-rotation .nav-rotation-bottom .nav-bottom-left ul li::after{
    content: "";
    width: 1px;
    height: 70px;
    position: absolute;
    top: 6px;
    left: 0px;
    background-color: #665e57;
}
.nav-rotation .nav-rotation-bottom .nav-bottom-left ul li a{
    opacity: .7;
    width: 70px;
    height: 82px;
    padding: 0 3px;
    display: block;
    color: #fff;
    transition: opacity .2s;
}
.nav-rotation .nav-rotation-bottom .nav-bottom-left ul li a:hover{
    opacity: 1;
}
.nav-rotation .nav-rotation-bottom .nav-bottom-left ul li a img{
    padding-top: 18px;
    display: block;
    width: 24px;
    height: 24px;
    margin: 0 auto 4px;
}
.nav-rotation .nav-rotation-bottom .nav-bottom-img{
    width: 978px;
    height: 170px;
    margin-left: 14px;
}
.nav-rotation .nav-rotation-bottom .nav-bottom-img ul{
    display: flex;
    justify-content: space-between;
}
.nav-rotation .nav-rotation-bottom .nav-bottom-img a{
    display: block;
    transition: all 0.5s;
}
.nav-rotation .nav-rotation-bottom .nav-bottom-img a:hover{
    box-shadow: 0 15px 30px rgba(0,0,0,.1);box-shadow: 0 15px 30px rgba(0,0,0,.1);
}
.nav-rotation .nav-rotation-bottom .nav-bottom-img a img{
    display: block;
    width: 316px;
    height: 170px;
}
/* 导航栏--轮播图结束 */

/* 中心部分开始 */
.home-main{
    padding-top: 4px;
    padding-bottom: 12px;
    background-color: #f5f5f5;
}
.home-main .container .home-flashsale {
    margin-bottom: 22px;
}
.home-main .container .home-flashsale .box-hd h2{
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
}

.home-main .container .home-flashsale .box-rotation{
    position: relative;
    width: 1226px;
    height: 340px;
    display: flex;
}
.home-main .container .home-flashsale .box-rotation .rt-left{
    /* 上面画一条线 */
    border-top: 1px solid #e53935;
    padding-top: 39px;
    width: 234px;
    height: 300px;
    text-align: center;
    background-color: #f1eded;
}
.home-main .container .home-flashsale .box-rotation .rt-left .round{
    font-size: 21px;
    color: #ef3a3b;
    padding-top: 15px;
}
.home-main .container .home-flashsale .box-rotation .rt-left img{
    margin: 25px auto;
}
.home-main .container .home-flashsale .box-rotation .rt-left .desc{
    font-size: 15px;
    color: rgba(0,0,0,.54);
}
.home-main .container .home-flashsale .box-rotation .rt-left .countdown{
    width: 168px;
    margin: 28px auto 0;
    display: flex;
    justify-content: space-between;
}
.home-main .container .home-flashsale .box-rotation .rt-left .countdown span{
    width: 46px;
    height: 46px;
    background: #605751;
    color: #fff;
    font-size: 24px;
    line-height: 46px;
    display: block;
}
.home-main .container .home-flashsale .box-rotation .rt-left .countdown i{
    width: 15px;
    height: 46px;
    line-height: 46px;
    color: #605751;
    font-size: 28px;
}
.home-main .container .home-flashsale .box-rotation .rt-rotation{
    width: 978px;
    margin-left: 14px;
    overflow: hidden;
}
.home-main .container .home-flashsale .box-rotation .rt-rotation ul{
    display: flex;
    margin-left: 0%;
    transition: all 1s;
}
.home-main .container .home-flashsale .box-rotation .rt-rotation ul li{
    margin-right: 14px;
}
.home-main .container .home-flashsale .box-rotation .rt-rotation ul li:nth-of-type(4n){
    margin-right: 0;
}
.home-main .container .home-flashsale .box-rotation .rt-rotation ul li>a{
    border-top: 1px solid #008c8c;
    display: block;
    text-align: center;
    width: 234px;
    height: 300px;
    padding-top: 39px;
    background-color: #fff;
}
.home-main .container .home-flashsale .box-rotation .rt-rotation ul li:nth-of-type(2n+1) a{
    border-top-color: #2196f3;
}
.home-main .container .home-flashsale .box-rotation .rt-rotation ul li:nth-of-type(3n) a{
    border-color: blue;
}
.home-main .container .home-flashsale .box-rotation .rt-rotation ul li:nth-of-type(4n) a{
    border-color: #ffac13;
}
/* 轮播图按钮 */
.home-main .container .home-flashsale .box-rotation .rt-button{
    position: absolute;
    right: 0;
    top: -33px;
    display: flex;
}
.home-main .container .home-flashsale .box-rotation .rt-button span{
    padding: 3px 5px;
    width: 24px;
    height: 16px;
    font-size: 16px;
    line-height: 16px;
    border: 1px solid #e0e0e0;
    color: #b0b0b0;
    text-align: center;
    cursor: pointer;
    transition: color .5s;
}
.home-main .container .home-flashsale .box-rotation .rt-button span:hover{
    color: #ff6700;
}

/* 小广告-天天向上 */
.home-banner-box{
    height: 120px;
    margin: 22px 0;
    overflow: hidden;
}
.home-banner-box a{
    display: block;
    height: 120px;
}
.home-brick-box{
    margin-bottom: 8px;
}
.home-brick-box .box-hd .more a i{
    width: 12px;
    height: 12px;
    padding: 4px;
    font-size: 12px;
    margin-left: 8px;
    line-height: 12px;
    border-radius: 16px;
    color: #fff;
    background-color: #b0b0b0;
    transition: all .4s;
    vertical-align: 1px;
}
.home-brick-box .box-hd .more a:hover{
    color: #ff6700;
}
.home-brick-box .box-hd .more a:hover i{
    background-color: #ff6700;
}

.home-brick-box  .box-bd{
    display: flex;
}
.home-brick-box  .box-bd li{
    transition: all .4s;
}
.home-brick-box  .box-bd li:hover{
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
    transform: translate3d(0,-2px,0)
}
.home-brick-box  .box-bd .bd-left ul li{
    margin-bottom: 14px;
}
.home-brick-box  .box-bd .bd-left ul a,.home-brick-box  .box-bd .bd-left ul a img{
    display: block;
}
.home-brick-box  .box-bd .bd-right>ul{
    width: 992px;
    height: 614px;
}
.home-brick-box  .box-bd .bd-right ul li{
    float: left;
    margin: 0 0 14px 14px;
}
/* 末尾的两个卡片 */
.home-brick-box  .box-bd .bd-right ul li .behind{
    background-color: red;
    overflow: hidden;
    width: 234px;
}
.home-brick-box  .box-bd .bd-right ul li .behind li{
    margin-left: 0;
}
.home-brick-box  .box-bd .bd-right ul li .behind .behind-top a{
    position: relative;
    display: block;
    background-color: #fff;
    padding-top: 50px;
    height: 93px;
    width: 234px;
}
.home-brick-box  .box-bd .bd-right ul li .behind .behind-top a img{
    width: 80px;
    height: 80px;
    position: absolute;
    right: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
}
.home-brick-box  .box-bd .bd-right ul li .behind .behind-top a h3{
    color: #333;
    margin: -10px 110px 5px 30px;
    font-size: 14px;
}
.home-brick-box  .box-bd .bd-right ul li .behind .behind-top a p{
    margin: 0 110px 0 30px;
    font-size: 12px;
    color: #ff6700;
}
.home-brick-box  .box-bd .bd-right ul li .behind .behind-bottom{
    background-color: #2196f3;
}
/* 中心部分接收 */
/* 身体区域结束 */