/* 在css中添加重置样式 */
@import "../css/reset.css";

.h_panel{
    width: 1130px;
    margin: 0 auto;
}
.h_panel .h_logo{
    width: 200px;
    height: 98px;
    background: url("../img/Shopping-logo.png") no-repeat;
}
.h_panel .h_logo a{
    display: block;
    height: 98px;
    text-indent: -9999px;
}

.login_banner_panel{
    width: 100%;
    height: 588px;
    position: absolute;
    left: 0;
    top: 98px;
    background: url("../img/Shopping-background.jpg") no-repeat top center;
}
.login_banner_panel a{
    display: block;
    height: 588px;
    text-indent: -9999px;
}